.button {
	cursor: pointer;
	padding: 1.2em 3.25em;
	border: none;
	border-radius: 8px;
	font-size: $fs-button;
	font-weight: $fw-bold;
}

.button--primary {
	background-color: $clr-primary-600;
	color: $clr-white;
}

.button--primary:hover {
	background-color: $clr-primary-500;
}

.button--secondary {
	background: $clr-secondary-600;
	color: $clr-black;
}

.button--secondary:hover {
	background: $clr-secondary-500;
}

.button--rounded {
	border-radius: 32px;
}
