.button {
	cursor: pointer;
	padding: 1.2em 3.25em;
	border: none;
	border-radius: 8px;
	font-size: $fs-button;
	font-weight: $fw-bold;
	text-align: center;
	transition: transform 150ms ease-out;

	@include activeShrink();

	&[data-style='primary'] {
		background-color: $clr-primary-600;
		color: $clr-white;
	}

	&[data-style='primary']:hover {
		background-color: $clr-primary-500;
	}

	&[data-style='secondary'] {
		background: $clr-secondary-600;
		color: $clr-black;
	}

	&[data-style='secondary']:hover {
		background: $clr-secondary-500;
	}

	&[data-shape='rounded'] {
		padding: 0.75em 1.35em;
		border-radius: 32px;
	}
}
