.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $navbar-height;
	background-color: $clr-primary-700;
	color: $clr-white;
	padding-inline: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;

	&-left {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	&-right {
		display: flex;
		align-items: center;
	}

	&-button-text {
		margin-left: 0.75rem;
	}

	&-list {
		display: flex;
		gap: 1rem;
		flex: 1;
	}
}
