$clr-white: #fff;
$clr-black: #000;

$clr-neutral-50: #f9fafb;
$clr-neutral-100: #f3f4f6;
$clr-neutral-200: #e5e7eb;
$clr-neutral-300: #d1d5db;
$clr-neutral-400: #9ca3af;
$clr-neutral-500: #6b7280;
$clr-neutral-600: #4b5563;
$clr-neutral-700: #374151;
$clr-neutral-800: #1f2937;
$clr-neutral-900: #111827;

$clr-indigo-50: #eef2ff;
$clr-indigo-100: #e0e7ff;
$clr-indigo-200: #c7d2fe;
$clr-indigo-300: #a5b4fc;
$clr-indigo-400: #818cf8;
$clr-indigo-500: #6366f1;
$clr-indigo-600: #4f46e5;
$clr-indigo-700: #4338ca;
$clr-indigo-800: #3730a3;
$clr-indigo-900: #312e81;

$clr-turquoise-50: #91eef3;
$clr-turquoise-100: #7eebf1;
$clr-turquoise-200: #59e6ed;
$clr-turquoise-300: #35e0e9;
$clr-turquoise-400: #18d3dd;
$clr-turquoise-500: #14b0b8;
$clr-turquoise-600: #0f8085;
$clr-turquoise-700: #094f53;
$clr-turquoise-800: #041f20;
$clr-turquoise-900: #000000;

$clr-primary-50: $clr-indigo-50;
$clr-primary-100: $clr-indigo-100;
$clr-primary-200: $clr-indigo-200;
$clr-primary-300: $clr-indigo-300;
$clr-primary-400: $clr-indigo-400;
$clr-primary-500: $clr-indigo-500;
$clr-primary-600: $clr-indigo-600;
$clr-primary-700: $clr-indigo-700;
$clr-primary-800: $clr-indigo-800;
$clr-primary-900: $clr-indigo-900;

$clr-secondary-50: $clr-turquoise-50;
$clr-secondary-100: $clr-turquoise-100;
$clr-secondary-200: $clr-turquoise-200;
$clr-secondary-300: $clr-turquoise-300;
$clr-secondary-400: $clr-turquoise-400;
$clr-secondary-500: $clr-turquoise-500;
$clr-secondary-600: $clr-turquoise-600;
$clr-secondary-700: $clr-turquoise-700;
$clr-secondary-800: $clr-turquoise-800;
$clr-secondary-900: $clr-turquoise-900;

$clr-navbar: $clr-primary-700;
