html,
body {
	padding: 0;
	margin: 0;
	font-family: $ff-body;
	color: $clr-black;
}

.full-width {
	width: 100%;
}

.mh-100 {
	min-height: 100vh;
}

a,
.link {
	cursor: pointer;
	text-decoration: none;
}

a:hover,
.link:hover {
	color: $clr-black;
}

.link-active {
	color: $clr-secondary-300 !important;
}
